


/*                      COLORS
------------------------------------------------------------------------- */

$color-light:    #F2F2EC;
$color-bg:       #FEFEFE;
$color-gray:     #999;
$color-darkgray: #666;
$color-dark:     #333;
$color-black:    #000;
$color-red:      #F00;



/*                      TYPOGRAPHY
------------------------------------------------------------------------- */

$font: 'Roboto Condensed', 'Lucida Sans', Helvetica, sans-serif;
$font-weight-bold: 700;



/*                      SIZES
------------------------------------------------------------------------- */

$navbar-height: 40px;


