


/*                      < 1000 px
------------------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {

.topBar {
  font-size: 0.9em;
}

.qty {
  font-size: 2.5em;
}

}



/*                      < 750 px
------------------------------------------------------------------------- */

@media only screen and (max-width: 750px) {

.qty {
  font-size: 2em;
}

h3 {
  font-size: 0.7em;
}

}



/*                      < 550 px
------------------------------------------------------------------------- */

@media only screen and (max-width: 550px) {

.topBar {
  font-size: 0.75em;
}

.qty {
  font-size: 1.7em;
  line-height: 1.5em;
  top: -1.5em;
}

}


/*                      < 400 px
------------------------------------------------------------------------- */

@media only screen and (max-width: 400px) {

.topBar {
  font-size: 0.6em;
}

.qty {
  font-size: 1.5em;
}

.bar {
  background-size: 70%;
}

}


