



/*                      MEAT ICONS
------------------------------------------------------------------------- */

.icon-bovine {
  background-image: %SVG-bovine%;
}

.icon-pig {
  background-image: %SVG-pig%;
}

.icon-poultry {
  background-image: %SVG-poultry%;
}

.icon-sheep {
  background-image: %SVG-sheep%;
}

.icon-offals {
  background-image: %SVG-offals%;
}

.icon-other {
  background-image: %SVG-other%;
}

.icon-favorite {
  background-image: %SVG-favorite%;
}



/*                      OTHER ICONS
------------------------------------------------------------------------- */

.icon-help {
  background-image: %SVG-help%;
}

.icon-share-fb {
  background-image: %SVG-share-fb%;
}

.icon-share-twitter {
  background-image: %SVG-share-twitter%;
}

.icon-gitd {
  background-image: %SVG-gitd%;
}


